@*@using Stimulsoft.Report.Mvc;*@
@using IdentitySample.Properties;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Settings.Default.ApplicationName</title>
    @*@Html.Stimulsoft().RenderMvcDesignerScripts()*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Settings.Default.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(IdentitySample.Resx.AppResource.Tournaments, "Index", "Tournaments")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink(IdentitySample.Resx.AppResource.Administration, "Index", "Administration")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">&copy; @DateTime.Now.Year - @Settings.Default.ApplicationName</p>
                    <p class="text-muted hidden-xs">Made by Konstantin Braun. Contact him at <a href="mailto:konstantin.braun@outlook.com">konstantin.braun@outlook.com</a></p>
                    <p class="text-muted visible-xs">Made by <a href="mailto:konstantin.braun@outlook.com">Konstantin Braun</a></p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
