@model IdentitySample.Controllers.PageHeader
@using IdentitySample.Helpers;
@using IdentitySample.Resx;

<ul class="breadcrumb">
    @{
        int item_number = 0;
        foreach (var item in Model.BreadCrumbs)
        {
            if (item_number == Model.BreadCrumbs.Count() - 1)
            {
                if (item.Routes.Count() > 1)
                {
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            @item.Name <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var subitem in item.Routes.OrderBy(x => x.Value))
                            {
                                <li role="presentation" class=@Html.IsActive(subitem.Key.ToString(), item.Id.ToString())>@Html.ActionLink(subitem.Value, "Details", @item.Controller, new { id = subitem.Key }, null)</li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>@item.Name</li>
                }
            }
            else
            {
                <li role="presentation">
                    @Html.ActionLink(item.Name, item.Action, item.Controller, new { id = item.Id }, null)
                </li>
            }
            item_number += 1;
        }
    }
</ul>

<h2>@Model.Title <small>@Model.Subtitle</small></h2>
@if (@Model.Description.Count > 0 || @Model.Buttons.Count > 0)
{
    <div class="well">
        @foreach (string desc in Model.Description)
        {
            <h5>@Html.Raw(@desc)</h5>
        }

        @if (Model.Buttons.Count == 1)
        {
            if (Model.Buttons[0].Id == 0)
            {
                @Html.ActionLink(Model.Buttons[0].Caption, Model.Buttons[0].Action, Model.Buttons[0].Controller, null, new { @class = "btn btn-success", @target = Model.Buttons[0].Target })
            }
            else
            {
                @Html.ActionLink(Model.Buttons[0].Caption, Model.Buttons[0].Action, Model.Buttons[0].Controller, new { id = Model.Buttons[0].Id }, new { @class = "btn btn-success", @target = Model.Buttons[0].Target })
            }
        }
        else if (Model.Buttons.Count > 1)
        {
            <div class="btn-group">
                <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @AppResource.DropDownButton
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (IdentitySample.Controllers.Button button in Model.Buttons)
                    {
                        if (button.Target == "devider")
                        {
                            <li role="presentation" class="divider"></li>
                        }
                        else if (button.Target == "dropdown-header")
                        {
                            <li role="presentation" class="dropdown-header">@button.Caption</li>
                        }
                        else if (button.Target == "ajax")
                        {
                            <li role="presentation">
                                @Ajax.ActionLink(button.Caption, button.Action, new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "get",
                UpdateTargetId = "UpdatedTable",
                OnBegin = "OnBegin()",
                OnComplete = "OnComplete()",
                Url = Url.Action(button.Action, button.Controller, new { id = button.Id })
            })
                            </li>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(button.Type))
                            {
                                <li role="presentation">
                                    @Html.ActionLink(button.Caption, button.Action, button.Controller, new { id = button.Id, type = button.Type }, new { @target = button.Target })
                                </li>
                            }
                            else
                            {
                                <li role="presentation">
                                    @Html.ActionLink(button.Caption, button.Action, button.Controller, new { id = button.Id }, new { @target = button.Target })
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    </div>
}

