@model IdentitySample.Models.TableViewModel<Referee>
@using IdentitySample.Helpers;
@using IdentitySample.Entities;
@using IdentitySample.Resx;

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].PositionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].RefereeEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TableData)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.Translate(item.Position), "Details", "Referees", new { id = item.Id }, null)
                </td>
                <td>
                    @if (item.RefereeEmail.GetFullName() == item.RefereeEmail)
                    {
                        <span class="glyphicon glyphicon-user disable-item-color" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    }
                    @Html.GetFullName(item.RefereeEmail)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && Model.TournamentOrganizer == User.Identity.Name)
                    {
                        <span>
                            @Html.ActionLink(AppResource.Edit, "Edit", Model.ChildController, new { id = item.Id }, null) |
                            @Html.ActionLink(AppResource.Delete, "Delete", Model.ChildController, new { id = item.Id }, null)
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @Html.Partial("_TableFooter", @Html.ConvertToPageFoter<Referee>(Model))
            </td>
        </tr>
    </tfoot>
</table>


