@model IdentitySample.Models.TableViewModel<Tournament>
@using IdentitySample.Helpers;
@using IdentitySample.Entities;
@using IdentitySample.Resx;

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].RegistrationEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TableData)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Tournaments", new { id = item.Id }, null)
                    <span class="badge">@item.Teams.Count()</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.GetFullName(item.Organizer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City),  @Html.Translate(item.Country)
                </td>
                <td>
                    @if (item.Status == TournamentStatus.OpenedForRegistration)
                    {
                        <div class="label label-success">
                            <span data-countdown="@String.Format("{0:yyyy-MM-dd}", item.RegistrationEnd)"></span>
                        </div>
                    }
                    else
                    {
                        <div class="label label-danger">
                            <span>@AppResource.RegistrationComplete</span>
                        </div>
                    }
                </td>

                <td>
                    @if (User.Identity.Name.Equals(item.Organizer))
                    {
                        <span>
                            @Html.ActionLink(@IdentitySample.Resx.AppResource.Edit, "Edit", Model.ChildController, new { id = item.Id }, null) |
                            @Html.ActionLink(@IdentitySample.Resx.AppResource.Delete, "Delete", Model.ChildController, new { id = item.Id }, null)
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                @Html.Partial("_TableFooter", @Html.ConvertToPageFoter<Tournament>(Model))
            </td>
        </tr>
    </tfoot>
</table>


