@model IdentitySample.Models.TableViewModel<Unit>
@using IdentitySample.Helpers;
@using IdentitySample.Entities;
@using IdentitySample.Resx;
 
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].Name)
            </th>
            <th>
                @AppResource.Translation
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableData[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TableData)
        {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="/en/Images/Details/@item.Id" alt="@item.Name" />
                    }
                    @Html.ActionLink(item.Name, "Details", Model.ChildController, new { id = item.Id }, null)
                </td>

                <td>
                    @foreach (var transl in item.Translations)
                    {
                        <small>
                            <span class="label label-default small">@transl.Language</span>
                        </small>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink(AppResource.Edit, "EditGeneral", @Model.ChildController, new { id = item.Id }, null) |
                    @Html.ActionLink(AppResource.Delete, "DeleteGeneral", @Model.ChildController, new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                @Html.Partial("_TableFooter", @Html.ConvertToPageFoter<Unit>(Model))
            </td>
        </tr>
    </tfoot>
</table>
